
.first{
    width:30%;
    height: 380px;
    float:left;
    border:2px solid gainsboro;
}
.second{
    width:30%;
    height: 380px;
    float:left;
    border:2px solid gainsboro;
    margin-left: 70px;
}
.third{
    width:30%;
    height: 380px;
    float:left;
    border:2px solid gainsboro;
    margin-left: 70px;
}
body{
    width: 100%;
    height: 950px;
    background-color:aliceblue
}